<h1>Add a Address</h1>

<form method="POST" action="/addAddress">

  <label>First Name:<input type="text" name="fName" required /></label>
  <label>Last Name:<input type="text" name="lName" required /></label>
  <label>Address Line:<input type="text" name="aLine" required /></label>
  <label>City:<input type="text" name="city" required /></label>
  <label>Zip/Postal Code:<input type="number" name="zip" required /></label>
  <label>Country:<input type="text" name="country" required /></label>

  <button type="submit">Add</button>
  
</form>

<% if (typeof errorMessage !== "undefined") { %>
<p><%= errorMessage %></p>
<% } %>