<div class="main-ctn">
  <h2>Your Address</h2>
    <form class="add-address-form" method="POST" action="/addAddress">

      <div><label><input class='input' placeholder='First Name' type="text" name="fName" required /></label></div>
      <div><label><input class='input' placeholder='Last Name' type="text" name="lName" required /></label></div>
      <div><label><input class='input' placeholder='Address Line' type="text" name="aLine" required /></label></div>
      <div><label><input class='input' placeholder='City' type="text" name="city" required /></label></div>
      <div><label><input class='input' placeholder='Zip Code' type="number" name="zip" required /></label></div>
      <div><label><input class='input' placeholder='Country' type="text" name="country" required /></label></div>

      <button class='btn' type="submit">Add</button>
    </form>

    <% if (typeof errorMessage !== "undefined") { %>
    <p><%= errorMessage %></p>
    <% } %>
</div>