<h2>Create a product</h2>

<form method='POST' action="/create">
    <label>Name<input type="text" name="name"></label>
    <label>Date<input type="number" name="date"></label>
    <label>Region<input type="text" name="region"></label>
    <label>Description<input type="text" name="description"></label>
    <label>Picture<input type="url" name="picture"></label>
    <label>Price<input type="number" name="price"></label>
    <button type="submit">Create</button>
</form>