<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>OnlineShop</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>

  <body>

    <nav id='nav-bar'>
      <div class="menu">
        <div class="left">
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/allProducts">Products</a></li>
            <li><a href="/search">Research</a></li>
          </ul>
        </div>
        <div class="right">
          <ul>
            <li><a href="/auth/signup">Sign Up</a></li>
            <li><a href="/auth/login">Log In</a></li>
            <li><a href="/profile">Your Profile</a></li>
            <li><a href="/auth/logout">Log Out</a></li>
            <!-- Administrator -->
            <li><a href="/create">Create Product</a></li>
            <li class="cart"><a href="/ShoppingCard">Cart</a></li>
          </div>
        </ul>
      </div>
    </nav>

    <%- body %>

    <script src="/js/script.js"></script>
  </body>
</html>
