@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;1,200;1,300;1,400;1,500;1,600&display=swap');

*{
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-size: 18px;
}

body{
  font-family: 'Poppins', sans-serif;
  width: 100vw;
  height: 100vh;
}

h1, h2{
  font-size: 42px;
}

h3{
  font-size: 20px;
}

a {
  text-decoration: none;
  color: black;
}

nav{
  width: 100%;
  /* position: fixed;
  background-color: white; */
}

.main-ctn{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main .title{
  margin-top: 200px;
}

.index-main{
  padding-bottom: 200px;
}

.menu{
  width: 100vw;
  display: flex;
  justify-content: space-between;
}

.left ul, .right ul{
  list-style: none;
  display: flex;
  gap: 50px; /* Change here when middleware's ok */
  padding: 50px;
}

.left ul {
  width: 30vw;
  justify-content: flex-start;
  padding-left: 200px;
}

.right ul {
  width: 50vw;
  justify-content: flex-end;
  padding-right: 200px;
}

.menu ul li {
  padding: 8px 14px;
  cursor: pointer;
}

.cart {
  background-color: blueviolet;
  border-radius: 0.5em;
}

.cart a {
  color: white;
}

.main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 100px;
}

.title{
  display: block;
  margin: 100px 0;
}

.product-ctn{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(3, 20em);
  grid-gap: 1em;
}

.product-item{
  background-color: white;
  width: 20em;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 8px;
}

.product-data {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.item-img-ctn img{
  background-color: #EAECEE;
  display: block;
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
  width: 20em;
  object-fit: cover;
}

.item-info-ctn{
  padding: 0.8em 0 0;
}

.product-add-ctn{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid lightgray;
  margin: 0.8em 0.8em;
}

.product-price, .product-cmds{
  display: flex;
  padding-top: 0.8em;
}

.name, .price{
  text-transform: uppercase;
  color: blueviolet;
  font-weight: 600;
}

.qty-selector{
  height: 2em;
  margin-right: 0.5em;
}

.btn {
  height: 2em;
  border-radius: 30px;
  border: 0;
  padding: 0 0.8em;
  background-color: blueviolet;
  color: white;
  cursor: pointer;
}

.search-redirect{
  display: flex;
  align-items: center;
  height: 3em;
  border-radius: 30px;
  border: 0;
  padding: 0 0.8em;
  background-color: blueviolet;
  margin: 100px 0;
}

.search-redirect a {
  color: white;
}

.search-ctn {
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
  text-align: center;
  line-height: 3em;
  background-color: black;
  border-radius: 8px;
  padding: 0.8em;
  color: white;
}

.field select{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 360px;
  height: 3em;
  text-align: center;
  text-decoration: none;
  border-radius: 30px;
  margin: 0.5em;
}

.search-btn .btn{
  width: 360px;
}

.user-ctn{
  width: 100%;
  display: flex;
  flex-direction: column;
}

.top-info, .bottom-orders{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.bottom-orders{
  margin-top: 100px;
}

.infos-ctn{
  display: flex;
  flex-direction: column;
}

/* Profile */
.update-infos{
  display: flex;
  justify-content: center;
  text-align: center;
  border-radius: 8px;
}

.update-form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.update-infos .btn{
  margin-top: 40px;
}

.input{
  width: 10vw;
  height: 3rem;
  border: 0;
  border-radius: 30px;
  text-align: center;
  margin: 0.5em;
  padding: 0.8em;
  background-color: #EAECEE;
}

.address-ctn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
}

.address-item{
  height: 15em;
  width: 25em;
  display: flex;
  padding: 1.2em;
  margin: 0 0.5em;
  background-color: #EAECEE;
  border-radius: 8px;
  text-align: left;
}

.address-item form{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.address-item button {
  background-color: white;
  color: black;
}

.address-index{
  margin-bottom: 0.8em;
}

.add-new-address button{
  width: 60px;
  height: 60px;
  margin-left: 0.8em;
}

.add-address-form{
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Orders */
.new-order{
  display: flex;
  width: 40em;
  flex-direction: column;
  margin: 2em 0;
  padding: 1.2em;
  background-color: white;
  border-radius: 8px;
}

.order-date{
  display: block;
  margin-bottom: 1em;
}

.order-item{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.8em 0;
  border-bottom: 1px solid grey;
}

.order-data{
  margin-top: 2em;
  display: flex;
  
}

.delivery-address{
  width: 80%;
  text-align: left;
}

.delivery-address span, .order-total span{
    font-style: oblique;
}

.order-total{
  width: 20%;
  text-align: right;
}

.auth-form{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.auth-form form{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1em 0;
}

.auth-form button{
  margin: 1em 0;
}

.shopping-cart{
  width: 40vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2em;
}

.sc-item{
  display: flex;
  justify-content: space-between; 
  width: 40vw;
  padding: 1.5em 1.2em 1.5em 0;
  border-bottom: 1px solid grey;
}

.sc-item-img-ctn{
  width: 10em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sc-item-img-ctn img{
  display: block;
  height: 8em;
  object-fit: cover;
}

.sc-data {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 0.3em;
}

.sc-item-info-ctn{
  display: flex;
  width: 100%;
  flex-direction: column;
}

.sc-item-qty{
  padding-right: 5em;
}

.sc-purchase-data{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2em;
}

.sc-purchase-data button{
  margin-top: 1em;
}

.sc-purchase-data a{
  background-color: blueviolet;
  color: white;
  padding: 1em;
  border-radius: 14px;
  margin: 1em 0;
}

.purchase-infos{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 2em;
}